<div class="text-center jumbotron">
  
  <h1>Alpha Blog</h1>
  <p> <%= link_to 'Sign up now', signup_path, class: "btn btn-primary btn-xlarge", style: 'padding:12px; position: relative; top: 10px;' %> </p>
  <p><%= link_to 'Blog', articles_path, class: "btn btn-success btn-xlarge", style: 'padding:12px; position: relative; top: 10px;'  %></p>  
  
</div>   