$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

// Navbar
#logo {
  float: left;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

// Root page
.jumbotron {
  background-image: asset-url('newspaper_cover.jpg');
  background-size: cover;
  height: 750px;
}

.jumbotron h1 {
   color: black;
   text-align: center;
   position: relative;
   bottom: 100px;
   margin-bottom: 100px;
   letter-spacing: -1px;
   font-weight: bold;
}

// Index Page for articles
.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article.meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

// Show page for articles
.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

//Index Page for Users

.listing {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

footer {
  padding-top: 5px;
  border-top: 1px solid black;
  color: black;
}

footer a:hover {
  color: blue;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}